/** @format */

$col-dark: black;
$col-medium: #f3f3f3c9;
$col-light: white;

$col-text: rgb(82, 82, 82);
$col-text-sec: #bababa;

$accent: #ff8ded;

$border-radius: 0.5em;

$padding: 1em;
$margin: 1em;
