
$bg-dark: black;
$bg-medium: #f3f3f3c9;
$bg-light: white;

$color-text: rgb(82, 82, 82);
$color-header-prim: white;
$color-header-sec: #bababa;

$accent: #ff8ded;

$border-radius: .5em;

$padding: 1em;
$margin: 1em;