/** @format */

@import "./variables";

.btn {
   background-color: $col-dark;
   color: $col-light;
   border: none;
   border-radius: $border-radius;
   padding: 0.5 * $padding;
   transition: all 0.5s ease;
   &:hover,
   &:focus {
      cursor: pointer;
      background-color: lighten($col-dark, 15%);
      box-shadow: 0px 0px 0px 0.5em rgba($col-dark, 0.2);
   }
}

.btn-border {
   background-color: $col-light;
   color: $col-dark;
   border: 2px $col-dark solid;
   border-radius: $border-radius;
   padding: 0.5 * $padding;
   transition: all 0.5s ease;
   &:hover,
   &:focus {
      cursor: pointer;
      box-shadow: 0px 0px 0px 0.5em rgba($col-dark, 0.2);
   }
}

.btn-focus {
   background-color: $accent;
   color: $col-light;
   padding: $padding $padding * 4;
   border: none;
   border-radius: $border-radius;
   font-weight: bold;
   letter-spacing: 0.2em;

   transition: all 0.5s ease;

   animation-name: beat;
   animation-duration: 2s;
   animation-timing-function: ease;
   animation-iteration-count: infinite;
   animation-fill-mode: forwards;

   &:hover,
   &:focus {
      background-color: lighten($accent, 5%);
      box-shadow: 0px 0px 0px 0.5em rgba($accent, 0.2);
      cursor: pointer;
      outline: none;
   }
}

.btn-svg {
   appearance: none;
   border: none;
   background: none;
   outline: none;
   transition: all 0.1s ease;
   border-radius: $border-radius;
   width: 2em;
   color: rgba(0, 0, 0, 0);
   place-items: center;
   padding: 0;

   svg {
      width: 100%;
   }

   &:hover {
      cursor: pointer;
      color: $col-dark;
   }
}

@keyframes beat {
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(1.05);
   }
   100% {
      transform: scale(1);
   }
}

@mixin select {
   cursor: pointer;
   border-radius: $border-radius;
   padding-right: $padding;
   border: 2px solid red;
   width: 100%;
   user-select: none;

   &:focus,
   &:hover {
      outline: none;
   }
}
.select {
   @include select;
   background-color: $col-dark;
   color: $col-light;
   border-color: $col-dark;
}
.select-invert {
   @include select;
   background-color: $col-light;
   color: $col-dark;
   border-color: $col-light;
}
