@import "./variables";


.btn{
   background-color: $bg-dark;
   color: $color-header-prim;
   border: none;
   border-radius: $border-radius;
   padding: .5 * $padding;
   transition: all .5s ease;
   &:hover, &:focus{
      cursor: pointer;
      background-color: lighten($bg-dark, 15%);
      box-shadow: 0px 0px 0px .5em rgba($bg-dark,0.2);
   }
}

.btn-border{
   background-color: $bg-light;
   color: $bg-dark;
   border: 2px $bg-dark solid;
   border-radius: $border-radius;
   padding: .5 * $padding;
   transition: all .5s ease;
   &:hover, &:focus{
      cursor: pointer;
      box-shadow: 0px 0px 0px .5em rgba($bg-dark,0.2);
   }
}


.btn-focus{
   background-color: $accent;
   color: $color-header-prim;
   padding: $padding $padding * 4;
   border: none;
   border-radius: $border-radius;
   font-weight: bold;
   letter-spacing: .2em;

   transition: all .5s ease;

   animation-name: beat;
   animation-duration: 2s;
   animation-timing-function: ease;
   animation-iteration-count: infinite;
   animation-fill-mode: forwards;


   &:hover, &:focus{
      background-color: lighten($accent, 5%);
      box-shadow: 0px 0px 0px .5em rgba($accent,0.2);
      cursor: pointer;
      outline: none;
   }
}

.btn-svg{
   appearance: none;
   border: none;
   background: none;
   outline: none;
   transition: all .1s ease;
   border-radius: $border-radius;
   width: 3em;
   color: rgba(0,0,0,0);
   place-items: center;

   svg {
      width: 100%;
   }

   &:hover{
      cursor: pointer;
      color: $bg-dark;
   }
}

@keyframes beat{
   0% { transform: scale(1)}
   50% { transform: scale(1.05)}
   100% { transform: scale(1)}
}



.select{
   cursor: pointer;
   border-radius: $border-radius;
   padding-right: $padding;
   border: 2px solid $bg-dark;
   width: 100%;      
   // appearance: none;
   user-select: none;

   &:focus, &:hover{
      outline: none;
   }
}