@import "./variables";

.center{
   width: 100%;
   display: flex;
   justify-content: center;
}

.margin-vert{
   margin: $margin 0;
}

.flex{
   display: flex;
}.flex-n-margin{
   display: flex;
   > * {
      margin-inline: $margin * .5;
   }
}





